@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  padding: 2% !important;
}
.main-container {
  display: flex;
  justify-content: center;
  padding: 1%;
  flex-direction: row;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 90%;
}

@media only screen and (min-width: 800px) {
  .card-container {
    width: 45%;
  }
}
@media only screen and (min-width: 1280px) {
  .card-container {
    width: 30%;
  }
}
@media only screen and (min-width: 1920px) {
  .card-container {
    width: 22.5%;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.title-centered .title {
  text-align: center !important;
}